<div class="navbar-expand-sm navbar-lewagon" style="" >
  <!-- Logo -->
  <div class= "nav-item">
    <%= link_to root_path, class: "nav-brand" do %>
      <strong>Cocktails</strong>
  <% end %>
  </div>

  <!-- Nav Buttons -->
  <div class="navbar-collapse" id="navbarSupportedContent">
    <li class="nav-item active mx-3">
      <%= link_to "Browse All Cocktails", cocktails_path, class: "top-nav" %>
    </li>
  </div>
</div>

