.navbar-lewagon {
  justify-content: space-between;
  background-color:#FFFBFE;
  display: flex;
  justify-content: space-between;
  padding: 13px;
}

  .nav-item {
    display: flex;
    align-items: center;
    color: #DD6001;
  }
.nav-brand {
  color: #DD6001;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


